html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #f7f9ef;
    color: #432000;
    user-select: none;
    min-height: 99vh;
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;

}

button {
    color: #f4e8e8;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: #7b440f;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 17px;
}

ul li {
    background-color: #f5dba6;
    padding: 15px;
    max-width: 290px;
    word-wrap: break-word;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1 px 4px rgba(0, 0, 0, 0.2)
    
}

ul li:hover {
    background-color: #de9f65 ;
    cursor: pointer;
}

footer {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: auto;
}

